.page-btn{
  padding: 5px;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.418);
  color: #000;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.page-btn:hover{
  background-color: rgba(128, 128, 128, 0.212);
}
.page-btn:active{
  background-color: rgba(128, 128, 128, 0.02);
}
.page-btn:focus{
  box-shadow: 0 0 0 2px rgb(133, 133, 133);
}